{% extends 'login_regis_base.html' %}
{% block page_title %}Sign In{% endblock %}
{% block nav %}{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui orange image header">
                <span class="content">找回密码</span>
            </h2>
            <form class="login ui large form" method="post">
                {{ form.csrf_token }}
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.id(placeholder="输入账号") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.email(id="get_email", placeholder="输入邮箱") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password(placeholder="重设密码") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.confirm(placeholder="确认密码") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.yan_zheng_ma(placeholder="获取邮箱验证码") }}
                            <button type="button" onclick="countdownHandler()" id="sendVerifyCode" class="btn btn-warning">
                                获取验证码</button>
                        </div>
                    </div>
                    <div class="inline field pull-right">
                        <a href="{{ url_for('auth.login') }}">返回登陆</a>
                    </div>
                    <div>
                        {{ form.submit(class='ui fluid large orange submit button') }}
                    </div>

                    <div>{{ mess }}</div>
                </div>
            </form>
        </div>
    </div>

<script>
        //短信验证码倒计时
    var countdownHandler = function(){
        var btn = document.getElementById("sendVerifyCode");
        var number = 60;
        var email = $("#get_email").val();
        $.get("{{ url_for('auth.send_code_email') }}",{'email':email}, function (data) {
            alert(data['error_code'])
        })
        var countdown = function(){
            if (number == 0) {
                btn.setAttribute("disabled",false);
                btn.innerHTML = '发送验证码';
                number = 60;
                return;
            } else {
                btn.setAttribute("disabled",true);
                btn.innerHTML = number + "秒 重新发送";
                number--;
            }
            setTimeout(countdown,1000);
        }
        setTimeout(countdown,1000);
    }
</script>


<!--<script>-->
    <!--$(function () {-->
        <!--$("#sendVerifyCode").click(function () {-->

        <!--})-->
    <!--})-->
<!--</script>-->
{% endblock %}
