{% extends 'login_regis_base.html' %}

{% block page_title %}Sign Up{% endblock %}
{% block nav %}{% endblock %}

{% block page_content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui attached message">
                <div class="header ui image ">
                    <img src="{{ url_for('static', filename='logo.png') }}" class="image">
                    <div class="content">
                        Welcome to <span class="catchat-text">Student System</span>!
                    </div>
                </div>
            </div>
            <form class="register ui form attached left aligned fluid segment" method="post">
                {{ form.csrf_token }}
                <div class="field eight wide">
                    <label>{{ form.username.label }}</label>
                    {{ form.username(placeholder="username", style="width:395px") }}
                </div>
                <div class="field">
                    <label>{{ form.StudentId.label }}</label>
                    {{ form.StudentId(placeholder="StudentID", style="width:395px") }}
                </div>
                <div class="field">
                    <label>{{ form.email.label }}</label>
                    {{ form.email(placeholder="Email", style="width:395px") }}
                </div>
                <div class="field">
                    <label>{{ form.password.label }}</label>
                    {{ form.password(placeholder="Password", style="width:395px") }}
                </div>
                <div class="field">
                    <label>{{ form.password2.label }}</label>
                    {{ form.password2(placeholder="Confirm Password", style="width:395px") }}
                </div>
                <div>
                    {{ form.submit(class="ui orange submit button fluid") }}
                </div>
            </form>
            <div class="ui bottom attached warning message">

                已经注册？ <a href="{{ url_for('auth.login') }}">点击登陆</a> .
            </div>
        </div>
    </div>
{% endblock %}
