{% extends "bootstrap/base.html" %}
{% block head %}
    <title>{% block title %}{% block page_title %}{% endblock %} - CatChat{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
    {% block page_content %}{% endblock %}
{% endblock %}




