{% extends "student/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-lg-6 col-lg-push-2">
    <div class="panel panel-default">
      <div class="panel-heading">
          <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" style="width:100px;height:100px;"
                       src="{{ image_url }}" alt="...">
                </a>
                  {{ wtf.quick_form(form) }}
              </div>
              <div class="media-body">
                <h4 class="media-heading">基本信息：</h4>

              </div>
            </div>
      </div>
      <div class="panel-body">
        <div class="row marketing">
            <div class="col-lg-4">
              <h4>学号</h4>
              <p>{{ student_ji_ben.student_id }}</p>
                <br>
              <h4>政治面貌</h4>
              <p>{{ student_ji_ben.p_status }}</p>
                <br>
              <h4>证件类型</h4>
              <p>{{ student_ji_ben.id_type }}</p>
                <br>
                <h4>籍贯</h4>
              <p>{{ student_ji_ben.birthplace }}</p>
                <br>
                <h4>出生地</h4>
              <p>{{ student_ji_ben.place_of_birth }}</p>
            </div>

            <div class="col-lg-4">
              <h4>姓名</h4>
              <p>{{ student_ji_ben.name }}</p>
                <br>
              <h4>性别</h4>
              <p>{{ student_ji_ben.sex }}</p>
                <br>
              <h4>证件号码</h4>
              <p>{{ student_ji_ben.id_number }}</p>
                <br>
                <h4>户口所在地</h4>
              <p>{{ student_ji_ben.a_location }}</p>
                <br>
                <h4>入学时间</h4>
              <p>{{ student_ji_ben.a_time }}</p>
            </div>

            <div class="col-lg-4">
              <h4>曾用名</h4>
              <p>
                  {% if student_ji_ben.username %}
                        {{ student_ji_ben.username }}
                  {% else %}
                        无
                  {% endif %}

              </p>
                <br>
              <h4>民族</h4>
              <p>{{ student_ji_ben.min_zu }}</p>
                <br>
              <h4>出生年月</h4>
              <p>{{ student_ji_ben.date_of_birth }}</p>
                <br>
                <h4>生源地</h4>
              <p>{{ student_ji_ben.s_source }}</p>

                <h4></h4>
              <p></p>
            </div>
          </div>
      </div>
    </div>

</div>
{% endblock %}
