{% extends "student/index.html" %}

{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-md-5 col-md-push-2">
  <div class="panel panel-default">
          <div class="panel-heading">
              <h3>学籍信息</h3>
          </div>
          <div class="panel-body">
            <div class="row marketing">
                    <div class="col-lg-4">
                      <h4>学号:</h4>
                      <p>{{ student_xue_ji.student_id }}</p>
                        <br>
                      <h4>学期:</h4>
                      <p>{{ student_xue_ji.semester }}</p>
                        <br>
                      <h4>系名称:</h4>
                      <p>{{ student_xue_ji.d_name }}</p>
                        <br>
                        <h4>学制:</h4>
                      <p>{{ student_xue_ji.school_system }}</p>
                        <br>
                        <h4>招生专业:</h4>
                      <p>{{ student_xue_ji.a_profession }}</p>
                        <br>
                        <h4>培养方式:</h4>
                      <p>{{ student_xue_ji.t_method }}</p>
                    </div>

                    <div class="col-lg-4">
                      <h4>姓名:</h4>
                      <p>{{ student_xue_ji.name }}</p>
                        <br>
                      <h4>年级:</h4>
                      <p>{{ student_xue_ji.grade }}</p>
                        <br>
                      <h4>专业名称:</h4>
                      <p>{{ student_xue_ji.p_name }}</p>
                        <br>
                        <h4>学籍状态:</h4>
                      <p>{{ student_xue_ji.xue_ji_zt }}</p>
                        <br>
                        <h4>是否在校:</h4>
                      <p>{{ student_xue_ji.zai_xiao }}</p>
                        <br>
                        <h4>学生类型:</h4>
                      <p>{{ student_xue_ji.student_type }}</p>
                    </div>

                    <div class="col-lg-4">
                      <h4>学年:</h4>
                      <p>{{ student_xue_ji.school_year }}</p>
                        <br>
                      <h4>学院名称:</h4>
                      <p>{{ student_xue_ji.college_name }}</p>
                        <br>
                      <h4>班级名字：</h4>
                      <p>{{ student_xue_ji.class_name }}</p>
                        <br>
                        <h4>招生学院：</h4>
                      <p>{{ student_xue_ji.a_college }}</p>
                        <h4>学历层次：</h4>
                      <p>{{ student_xue_ji.e_level }}</p>
                        <br>
                        <h4></h4>
                      <p></p>
                    </div>
             </div>
          </div>
</div>
{% endblock %}

