{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-md-5 col-md-push-2">
   <div class="page-header">
       <h3>添加课程：</h3>
   </div>
    <div class="panel-body">
    <form method="POST">
        {{ form.csrf_token }}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">课程编号
              {% for error in form.course_id.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                {{ form.course_id(class="form-control") }}
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">课程名字
              {% for error in form.course_name.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                {{ form.course_name( class="form-control") }}
            </div>
          </div>
           <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputPassword4">课程学分
              {% for error in form.course_credit.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                  {{ form.course_credit(class="form-control") }}
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">老师工号
              {% for error in form.teacher_id.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                {{ form.teacher_id( class="form-control") }}
            </div>
              <div class="form-group col-md-4">
              <label for="inputPassword4">老师名字
              {% for error in form.teacher_name.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                  {{ form.teacher_name(class="form-control") }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">授课地点
              {% for error in form.class_room.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                {{ form.class_room(class="form-control") }}
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">课程时长
              {% for error in form.course_time.errors %}
                     <span style="color:red;">[{{ error }}]</span>
              {% endfor %}
              </label>
                {{ form.course_time( class="form-control") }}
            </div>
          </div>

            <div class="form-group col-md-6">
                {{ form.modify(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}










