{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-md-5 col-md-push-2">
    <div class="panel-body">
        <table class="table table-hover">
            <th>课程编号</th>
            <th>学生学号</th>
            <th>课程名称</th>
            <th>课程学分</th>
            <th>授课老师</th>
            <th>考试成绩</th>
            <th>修改成绩</th>
            <th>操   作</th>
            {% for score in scores %}
            <tr>
                <td>{{ score.course_id }}</td>
                <td>{{ score.student_id }}</td>
                <td>{{ score.course_name }}</td>
                <td>{{ score.course_credit }}</td>
                <td>{{ score.teacher }}</td>
                <td>{{ score.fraction }}</td>
                <form action="{{ url_for('admin.student_modify',course_id=score.course_id, student_id=score.student_id) }}"
                      method="post">
                    <td><input type="text" name="student_score" style="height:23px;width:60px"></td>
                    <td>
                        <input type="submit" value="修改成绩" class="btn btn-primary btn-sm">
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}










