{% extends "admin/admin_index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-md-8 col-md-push-1">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">老师账号</div>
  <div class="panel-body">
      <form method="post">
          {{ form.csrf_token }}
          <div class="col-lg-10">
            <div class="input-group">
                {{ form.info_data( class="form-control") }}
              <span class="input-group-btn">
                 {{ form.search(class="btn btn-default") }}
              </span>
            </div>
          </div>
      </form>
  </div>
  </div>
  <!-- Table -->
  <table class="table">
        <th>编号</th>
        <th>工号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>地址</th>
        <th>操作</th>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.StudentId }}</td>
                <td>{{ teacher.username }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.confirmed }}</td>
                <td>{{ teacher.role_id }}</td>
                <td>
                    <button onclick="return confirm('你确定')"
                            type="button" class="btn btn-danger btn-sm">
                        <a style='text-decoration:none; color:#FFFFFF'
                           href="{{ url_for('admin.teacher_delete', id=teacher.id) }}">
                            删除</a></button>
                    <button type="button" class="btn btn-danger btn-sm">
                        <a style='text-decoration:none; color:#FFFFFF'
                           href="{{ url_for('admin.teacher_modify', id=teacher.StudentId) }}">
                            修改</a></button>
                </td>
            </tr>
        {% endfor %}
  </table>
    {% if pagination %}
        <div style="float: right;margin-top: 20px"> {{ render_pagination(pagination) }}</div>
    {% endif %}
</div>
</div>
{% endblock %}










