{% extends "teacher/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-md-7 col-md-push-1">
    <div class="panel panel-default">
          <div class="panel-heading">
              录入基本信息
          </div>
          <div class="panel-body">
              <form method="post">
                  <div class="form-row">
                  {{ form.csrf_token }}
                  <div class="col-lg-10">
                    <div class="input-group">
                        {{ search_form.search( class="form-control") }}
                      <span class="input-group-btn">
                         {{ search_form.submit(class="btn btn-default") }}
                      </span>
                    </div>
                  </div>
                      <div class="col-lg-2">
                    <div class="input-group">
                       <button type="button" class="btn btn-primary btn-sm">
                                <a style='text-decoration:none; color:#FFFFFF'
                                   href="">
                                    导出所有学生数据</a></button>
                    </div>
                  </div>
                  </div>
              </form>
              <br/>
              <br/>
                <form method="POST">
                    {{ form.csrf_token }}
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputEmail4">学号
                          {% for error in form.student_id.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.student_id(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputPassword4">姓名
                          {% for error in form.name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.name( class="form-control") }}
                        </div>
                          <div class="form-group col-md-4">
                          <label for="inputPassword4">曾用名
                          {% for error in form.used_name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                              {{ form.used_name(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputEmail4">政治面貌
                          {% for error in form.p_status.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.p_status(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">性别
                          {% for error in form.sex.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.sex(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">民族
                          {% for error in form.nation.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.nation(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="inputEmail4">证件类型
                          {% for error in form.id_type.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.id_type(class="form-control") }}
                        </div>
                        <div class="form-group col-md-5">
                          <label for="inputState">证件号吗
                          {% for error in form.id_number.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.id_number(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">出生年月
                          {% for error in form.birth_time.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.birth_time(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">籍贯
                          {% for error in form.b_place.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.b_place(class="form-control") }}
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputState">户口所在地
                          {% for error in form.acc_location.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.acc_location(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="inputEmail4">生源地
                          {% for error in form.stu_source.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.stu_source(class="form-control") }}
                        </div>
                        <div class="form-group col-md-5">
                          <label for="inputState">出生地
                          {% for error in form.bir_address.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.bir_address(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">入学时间
                          {% for error in form.ad_time.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.ad_time(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-group col-md-6">
                          {{ form.ti_jiao(class="btn btn-primary btn-lg btn-block") }}
                        </div>
                </form>
              <div class="form-group col-md-6">
                   <button class="btn btn-secondary btn-lg btn-block">
                    <a style='text-decoration:none; color:#FFFFFF'
                           href="{{ url_for('teacher.index')}}">
                            重置</a></button>
                   </button>
                </div>
        <table class="table">
                <th>学号</th>
                <th>姓名</th>
                <th>民族</th>
                <th>性别</th>
                <th>身份证</th>
              <th>操作</th>
                {% for geren in gerens %}
                    <tr>
                        <td>{{ geren.student_id }}</td>
                        <td>{{ geren.name }}</td>
                        <td>{{ geren.min_zu }}</td>
                        <td>{{ geren.sex }}</td>
                        <td>{{ geren.id_number }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <a style='text-decoration:none; color:#FFFFFF'
                                   href="{{ url_for('teacher.show', student_id=geren.student_id) }}">
                                    查看详细信息或者修改信息</a></button>
                        </td>
                    </tr>
                {% endfor %}
          </table>
            {% if pagination %}
                <div style="float: right;margin-top: 20px"> {{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}










