{% extends "teacher/index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}System System - Change Password{% endblock %}


{% block page_content %}
<div class="col-md-7 col-md-push-1">
    <div class="panel panel-default">
          <div class="panel-heading">
              录入学籍信息
          </div>
          <div class="panel-body">
                <form method="post">
                  <div class="form-row">
                  {{ form.csrf_token }}
                  <div class="col-lg-10">
                    <div class="input-group">
                        {{ search_form.search( class="form-control") }}
                      <span class="input-group-btn">
                         {{ search_form.submit(class="btn btn-default") }}
                      </span>
                    </div>
                  </div>
                      <div class="col-lg-2">
                    <div class="input-group">

                    </div>
                  </div>
                  </div>
              </form>

              <br/>
              <br/>
                <form method="POST">
                    {{ form.csrf_token }}
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputEmail4">学号
                          {% for error in form.student_id.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.student_id(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputPassword4">姓名
                          {% for error in form.name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.name( class="form-control") }}
                        </div>
                          <div class="form-group col-md-4">
                          <label for="inputPassword4">学年
                          {% for error in form.school_year.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                              {{ form.school_year(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputEmail4">学期
                          {% for error in form.semester.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.semester(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">年级
                          {% for error in form.grade.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.grade(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">学院名称
                          {% for error in form.college_name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.college_name(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="inputEmail4">系名称
                          {% for error in form.d_name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.d_name(class="form-control") }}
                        </div>
                        <div class="form-group col-md-5">
                          <label for="inputState">专业名称
                          {% for error in form.p_name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.p_name(class="form-control") }}
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">班级名字
                          {% for error in form.class_name.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.class_name(class="form-control") }}
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="inputEmail4">学制
                          {% for error in form.school_system.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.school_system(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputState">学籍状态
                          {% for error in form.xue_ji_zt.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.xue_ji_zt(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputState">招生学院
                          {% for error in form.a_college.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.a_college(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputState">招生专业
                          {% for error in form.a_profession.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.a_profession(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="inputEmail4">是否在校
                          {% for error in form.zai_xiao.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.zai_xiao(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputState">学历层次
                          {% for error in form.e_level.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.e_level(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputZip">培养方式
                          {% for error in form.t_method.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.t_method(class="form-control") }}
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputZip">学生类型
                          {% for error in form.student_type.errors %}
                                 <span style="color:red;">[{{ error }}]</span>
                          {% endfor %}
                          </label>
                            {{ form.student_type(class="form-control") }}
                        </div>
                        <div class="col-lg-6">
                        {{ form.ti_jiao(class="btn btn-primary btn-lg btn-block") }}
                      </div>
                        </div>
                    </form>
              <div class="col-lg-6">
                        <button class="btn btn-secondary btn-lg btn-block">
                    <a style='text-decoration:none; color:#FFFFFF'
                           href="{{ url_for('teacher.add_xueji')}}">
                            重置</a></button>
                   </button>
                      </div>
        </div>
         <table class="table">
                <th>学号</th>
                <th>姓名</th>
                <th>学籍状态</th>
                <th>专业名称</th>
                <th>学历层次</th>
              <th>操作</th>
                {% for xueji in xuejis %}
                    <tr>
                        <td>{{ xueji.student_id }}</td>
                        <td>{{ xueji.name }}</td>
                        <td>{{ xueji.xue_ji_zt }}</td>
                        <td>{{ xueji.p_name }}</td>
                        <td>{{ xueji.e_level }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <a style='text-decoration:none; color:#FFFFFF'
                                   href="{{ url_for('teacher.show_xueji', student_id=xueji.student_id) }}">
                                    查看详细信息或者修改信息</a></button>
                        </td>
                    </tr>
                {% endfor %}
          </table>
            {% if pagination %}
                <div style="float: right;margin-top: 20px"> {{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}










